.background {
  background-image: url(/images/loginBackgroundImg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.formBody {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.formBody::selection {
  color: rgb(255, 255, 255);
  background: rgb(62, 121, 247);
}
