/* Provide sufficient contrast against white background */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: #0366d6;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease 0s;
}

a:hover {
  color: rgb(105, 157, 255);
}

a:active {
  color: rgb(42, 89, 209);
}
a:active,
a:hover {
  text-decoration: none;
  outline: 0px;
}

html,
body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.btn-primary {
  /* color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
  background-color: royalblue; */
}

.App {
  height: 100vh;
}

@font-face {
  font-family: 'senBold';
  src: url(/fonts/sen_bold/sen_bold.ttf);
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'TTNormsPro';
  src: url(/fonts/sen_bold/sen_extra_bold.ttf);
  font-weight: 700;
  font-display: swap;
}
